*{
	/* border:1px solid red; */ */
}

body{
	background-image: url("../images/beach_night.jpg");
	background-size:cover;
	height:100%
}

header {
	width:820px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255, .6);
	border-radius: 15px;
}

ul{
	text-align:center;
	list-style-type:none;
	padding-left:0;
	margin-left:0;
}

li{

	font-size:25px;
	margin: 0 auto;
	display:inline-block;
	width:200px;
}
